In [1]:
import pandas as pd
import os 
import datetime as dt

In [2]:
manual = "/home/emmanuel/Tesis/manual/picks/SGCmanual_picks_20191201000000_20210101000000.csv"
df = pd.read_csv(manual,header=1)
df["time_event"] = df["time_event"].apply(pd.to_datetime)
df = df[df["time_event"]>=dt.datetime(2019,12,1,0)]
df = df[df["time_event"]<=dt.datetime(2019,12,1,3)]
df["time"] = df["time_event"]
df = df.drop_duplicates(subset="id",ignore_index=True)
df["x"] = "manual"
df_manual = df[["time","x"]]
#print(df_manual)
print("manual",len(df_manual))

manual 13

In [11]:
df_manual

                  time       x
0  2019-12-01 00:03:43  manual
1  2019-12-01 00:08:53  manual
2  2019-12-01 00:14:50  manual
3  2019-12-01 00:39:57  manual
4  2019-12-01 01:05:02  manual
5  2019-12-01 01:18:32  manual
6  2019-12-01 01:39:44  manual
7  2019-12-01 01:52:25  manual
8  2019-12-01 02:13:20  manual
9  2019-12-01 02:14:48  manual
10 2019-12-01 02:37:54  manual
11 2019-12-01 02:47:02  manual
12 2019-12-01 02:57:19  manual

In [14]:
dfs = []
folder = "/home/emmanuel/associations_result/santos_all_seccionado"
for dp, dn, filenames in os.walk(folder):
    for f in filenames:
        if f == "catalog.csv" :
            search_path = os.path.join(dp, f)
            df = pd.read_csv(search_path)
            if not df.empty:
                df["time"] = df["time"].apply(pd.to_datetime)
                dfs.append(df)
df = pd.concat(dfs,ignore_index=True)
df = df.sort_values(by="time",ignore_index=True)
df["x"] = "30min"
df_30min = df[["time","x"]]
#print(df_30min)
print("seccionado_cada_30min",len(df_30min))

seccionado_cada_30min 1

In [15]:
df_30min

                     time      x
0 2019-11-30 23:58:51.380  30min

In [16]:
manual = "/home/emmanuel/associations_result/santos_all_gamma_mas_alto/20191201T000000__20191201T030000/associations/GaMMA2EQTransformer/associations/catalog.csv"
df = pd.read_csv(manual)
df["time"] = df["time"].apply(pd.to_datetime)
df = df[df["time"]>=dt.datetime(2019,12,1,0)]
df = df[df["time"]<=dt.datetime(2019,12,1,3)]
df = df.sort_values(by="time",ignore_index=True)
df["x"] = "todo"
df_todo_mas_alto = df[["time","x"]]
#print(df_todo)
print("todo_auto_gamma_mas_alto",len(df_todo_mas_alto))

todo_auto_gamma_mas_alto 3

In [35]:
manual = "/home/emmanuel/associations_result/santos_all_gamma_hiper_alto/20191201T000000__20191201T030000/associations/GaMMA2EQTransformer/associations/catalog.csv"
df = pd.read_csv(manual)
df["time"] = df["time"].apply(pd.to_datetime)
df = df[df["time"]>=dt.datetime(2019,12,1,0)]
df = df[df["time"]<=dt.datetime(2019,12,1,3)]
df = df.sort_values(by="time",ignore_index=True)
df["x"] = "todo"
df_todo_hiper_alto = df[["time","x"]]
print(df_todo_hiper_alto )
print("todo_auto_gamma_hiper_alto",len(df_todo_hiper_alto))

                     time     x
0 2019-12-01 00:13:34.335  todo
1 2019-12-01 00:51:35.588  todo
2 2019-12-01 01:04:44.328  todo
3 2019-12-01 01:51:19.663  todo
4 2019-12-01 02:12:59.966  todo
5 2019-12-01 02:37:15.910  todo
6 2019-12-01 02:45:25.925  todo
7 2019-12-01 02:46:49.838  todo
todo_auto_gamma_hiper_alto 8

In [17]:
df_todo_mas_alto

                     time     x
0 2019-12-01 02:12:57.465  todo
1 2019-12-01 02:37:14.589  todo
2 2019-12-01 02:46:49.828  todo

In [21]:
manual = "/home/emmanuel/associations_result/santos_all/20191201T000000__20191201T030000/associations/GaMMA2EQTransformer/associations/catalog.csv"
df = pd.read_csv(manual)
df["time"] = df["time"].apply(pd.to_datetime)
df = df[df["time"]>=dt.datetime(2019,12,1,0)]
df = df[df["time"]<=dt.datetime(2019,12,1,3)]
df = df.sort_values(by="time",ignore_index=True)
df["x"] = "todo"
df_todo = df[["time","x"]]
#print(df_todo)
print("todo_auto",len(df_todo))

todo_auto 1

In [27]:
manual = "/home/emmanuel/Tesis/eqt_events.csv"
df = pd.read_csv(manual)
df["time_event"] = df["time_event"].apply(pd.to_datetime)
df = df[df["time_event"]>=dt.datetime(2019,12,1,0)]
df = df[df["time_event"]<=dt.datetime(2019,12,1,3)]
df = df.sort_values(by="time_event",ignore_index=True)
df = df.drop_duplicates(subset="id",ignore_index=True)
df["x"] = "todo"
df_scanloc = df[["time_event","x"]]
print(df_scanloc)
print("santos_scanloc",len(df_scanloc ))

                  time_event     x
0 2019-12-01 00:14:50.380000  todo
1 2019-12-01 00:39:57.950000  todo
2 2019-12-01 00:59:27.199999  todo
3 2019-12-01 01:18:33.030000  todo
4 2019-12-01 01:39:44.960000  todo
5 2019-12-01 01:57:30.600000  todo
6 2019-12-01 02:13:21.581094  todo
7 2019-12-01 02:37:54.799605  todo
santos_scanloc 8

In [12]:
df_todo

                     time     x
0 2019-12-01 02:37:41.359  todo

In [8]:
manual = "/home/emmanuel/associations_result/santos_cuadrante/20191201T000000__20191201T030000/associations/GaMMA2EQTransformer/associations/catalog.csv"
df = pd.read_csv(manual)
df["time"] = df["time"].apply(pd.to_datetime)
df = df[df["time"]>=dt.datetime(2019,12,1,0)]
df = df[df["time"]<=dt.datetime(2019,12,1,3)]
df = df.sort_values(by="time",ignore_index=True)
df["x"] = "5"
df5 = df[["time","x"]]
#print(df5)
print("santos_cuadrante",len(df5))

santos_cuadrante 2

In [13]:
df5

                     time  x
0 2019-12-01 02:37:39.339  5
1 2019-12-01 02:46:48.233  5

In [96]:
df_merge = pd.merge_asof(df_manual,df_30min,on="time", 
                # by='type',
                tolerance=pd.Timedelta('5s'),
                suffixes=(f'_manual',f'_30min'),
                direction = 'nearest')
df_merge = df_merge.dropna(subset=["x_30min"])
print("En ambos(manual-seccionado)",len(df_merge))

En ambos(manual-seccionado) 94

In [9]:
df_merge = pd.merge_asof(df_manual,df_todo,on="time", 
                # by='type',
                tolerance=pd.Timedelta('5s'),
                suffixes=(f'_manual',f'_todo'),
                direction = 'nearest'
                )
df_merge = df_merge.dropna(subset=["x_todo"])
print("En ambos(manual-todo)",len(df_merge))

En ambos(manual-todo) 0

In [10]:
df_merge = pd.merge_asof(df_manual,df5,on="time", 
                # by='type',
                tolerance=pd.Timedelta('5s'),
                suffixes=(f'_manual',f'_5'),
                direction = 'nearest'
                )
df_merge = df_merge.dropna(subset=["x_5"])
print("En ambos(manual-cuadrante)",len(df_merge))

En ambos(manual-cuadrante) 0